.fullpagediv{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
   background-color:#F8F8F8;
}

.addbuttondiv{
    background-color: tomato;
}

.errorstatetext{
    font-size: 12px;
    color:red;
    font-weight: 600;
}

.headerdiv{
    /* height: 80px; */
    background-color:#113030;
}

.headertext{
    font-size: 18px;
    color: white;
}

.tabaleheadertext{
    font-size: 14px;
    color: black;
    background-color: coral;
}

.tabletext{
    font-size: 12px;
    color: black;
    background-color: white;
}
.imagedisplay{
    width: 50px;
    height: 40px;
}

